<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>台北一日遊</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#">預定行程</a></li>
          <li><a href="#">登入／註冊</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="backImage">
        <div class="backImage-left">
          <h3>輕鬆享受台北一日悠閒</h3>
          <p>探索每個角落，體驗城市的深度旅遊行程</p>
          <div class="backImage-search">
            <input type="text" id="keyword" placeholder="輸入景點名稱查詢" />
            <button id="search">
              <img src="../static/images/icon/icon_search.png" alt="" />
            </button>
          </div>
        </div>
        <div class="backImage-right"></div>
      </div>

      <div class="wrapper"></div>

      <div class="copyright">
        <img src="../static/images/COPYRIGHT.png" alt="" />
      </div>
    </main>
  </body>
  <script src="../static/index.js"></script>
</html>
